type charge_only_mode, domain;
type charge_only_mode_exec, exec_type, file_type;
init_daemon_domain(charge_only_mode);

allow charge_only_mode self:capability { dac_override net_admin sys_boot sys_tty_config };

allow charge_only_mode charge_only_mode_data_file:dir rw_dir_perms;
allow charge_only_mode charge_only_mode_data_file:file create_file_perms;
allow charge_only_mode graphics_device:dir search;
allow charge_only_mode graphics_device:chr_file rw_file_perms;
allow charge_only_mode input_device:dir search;
allow charge_only_mode input_device:chr_file r_file_perms;
allow charge_only_mode self:netlink_kobject_uevent_socket { bind create read setopt };
allow charge_only_mode sysfs:file write; # write led/backlight brightness
allow charge_only_mode tty_device:chr_file rw_file_perms;
