allow wcnss_service shell_exec:file { entrypoint read };
allow wcnss_service wcnss_service_exec:file { getattr open execute_no_trans };

allow wcnss_service persist_file:dir w_dir_perms;
allow wcnss_service persist_wifi_file:file r_file_perms;
allow wcnss_service persist_wifi_file:lnk_file create_file_perms;
type_transition wcnss_service persist_file:lnk_file persist_wifi_file;
